<div id="Grid" infinite-scroll="showMoreBooks()">
  <div style="margin-left:20px" ng-show="showAvai">
    <label style="cursor:pointer">
      <input type="checkbox" ng-model="onlyAvai"> Available
    </label>
    <label style="cursor:pointer; margin-left:20px" ng-show="cate==''">
      <input type="checkbox" ng-model="includeRes"> Show Mobile Asset
    </label>
  </div>
  <div masonry>
    <div class="masonry-brick" ng-repeat="book in books | filter : cate=='userShared'? {ownerIntrID: logInUser.intrID, status:(onlyAvai?0:'')} : (cate=='userLiked'? {isLiked: true, confirmed:true, status:(onlyAvai?0:'')} : ( cate=='userBorrowed' ? {intrID: logInUser.intrID, confirmed:true, status:(onlyAvai?0:'')}: (cate==''?{category:(includeRes?'':'!Mobile Asset'), confirmed:true, status:(onlyAvai?0:'')}:{category: cate, confirmed:true, status:(onlyAvai?0:'')})))">
      <div class="gridItem" ng-class="{aHover: hover, notFree: book.status != 0}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <div class="bookShot">
          <div>
            <div class="hoverInfo">
              <h4><strong>{{ book.name }}</strong></h4>
              <h5>- {{book.author}}</h5>
              <h5>- {{book.publisher}}</h5>
              <h5>- {{book.category}}</h5>
              <h5 ng-show="book.status == 1">Ordered By {{book.intrID}}</h5>
              <h5 ng-show="book.status == 2">Borrowed By {{book.intrID}}</h5>
              <h5 ng-show="book.status == 2 && book.returnTime">Untill {{book.returnTime | date:'yyyy-MM-dd'}}</h5>
            </div>
            <div class="freeInfo">
            </div>
            <div class="hoverLike">
              <span>{{book.likes.length}}</span>
              <a class="liked" ng-class="{isLiked: book.isLiked==true}" ng-click="like(book)"></a>
            </div>
            <a class="hoverLink" ng-href="#/book/{{book._id}}">
              <img style="width:206px; min-width: 206px; min-height: 206px;" ng-src="{{ book.image }}" />
            </a>
          </div>
          <div class="bookInfoFooter">
            <ul class="bookInfoFooter">
              <li class="comment"><span>{{ book.comments.length }}</span></li>
              <li class="like"><span>{{ book.likes.length }}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
